<section id="challengesMenu">
    <div id="challengesContainerWrapper" class="challengesContainerWrapper hoverEffectContainer">
        <button id="challenge1" class="challenge hoverEffectChild">
            <p id="challenge1Description"></p>
            <p id="challenge1Reward" class="challengeReward">REWARD: +1 Card everytime you roll!</p>
        </button>
        <button id="challenge2" class="challenge hoverEffectChild">
            <p id="challenge2Description"></p>
            <p id="challenge2Reward" class="challengeReward">REWARD: 50% more Points!</p>
        </button>
        <button id="exitChallengeButton" class="exitChallengeButton">
            Exit Challenge
        </button>
    </div>
</section>
