<div id="TabsContainer" class="tabsContainer hoverEffectContainer">
    <button id="activeMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Active
    </button>
    <button id="passiveMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Passive
    </button>
    <button id="upgradesMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Upgrades
    </button>
    <button id="challengesMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Challenges
    </button>
    <button id="prestigeMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Prestige
    </button>
    <button id="cardsMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Cards
    </button>
    <button id="achievementsMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Achievements
    </button>
    <button id="statsMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Stats
    </button>
    <button id="optionsMenuButton" class="menuButton hoverEffectChild" style="display: none">
        Options
    </button>
</div>