<div id="WordWrapper" class="wordWrapper">
    <p *ngIf="isCounterVisible()" id="LettersPerSecond" class="lettersPerSecond"> LPS: {{ lettersPerSecond | number:'1.1-1' }}</p>
    <input type="text" id="WordBox" class="wordBox" name="WordBox" [(ngModel)]="inputValue" (input)="checkWord()"/>
    <div id="gameButtonWrapper" class="gameButtonWrapper hoverEffectContainer">
        <button id="saveButton" class="gameButton hoverEffectChild" (click)="saveGame()">
            Save
        </button>
        <input type="file" #fileInput style="display: none;" (change)="loadGame($event)">
        <button id="loadButton" class="gameButton hoverEffectChild" (click)="fileInput.click()">
            Load
        </button>
        <button id="logButton" class="gameButton hoverEffectChild" (click)="logGame()">
            Log
        </button>
    </div>
</div>
