<section id="passiveMenu">
    <div id="PassivePointsWrapper" class="passivePointsWrapper">
        <div id="PassivePointsLeft" class="passivePointsLeft">
            <p id="passivePointsWord" class="passivePointsWord"></p>
            <p id="passivePoints" class="passivePoints"></p>
        </div>

        <div id="PassivePointsRight" class="passivePointsRight">
            <div *ngFor="let generator of gameObjects.game.passiveGenerators" class="passivePointsGenerator" (click)="BuyGenerator(generator.id)">
                <p>{{generator.name}} | Generators: {{generator.amountGained | number:'1.1-1'}} (Bought: {{generator.amountBought}}) | Cost: {{generator.cost | number:'1.1-1'}}</p>
            </div>
            <button id="GeneratorButton" class="generatorButton" (click)="BuyGeneratorTier()">
                Buy the next Tier of Generators! | Cost
            </button>
        </div>
    </div>
</section>
