<section id="passiveMenu" class="menu">
    <div id="PassivePointsWrapper" class="passivePointsWrapper">
        <div id="PassivePointsLeft" class="passivePointsLeft">
            <p id="passivePointsWord" class="passivePointsWord">{{ passiveWord$ | async }}</p>
            <p id="passivePoints" class="passivePoints">{{ (passivePoints$ | async) ?? 0 | exponentialNumber }}</p>
        </div>

        <div id="PassivePointsRight" class="passivePointsRight">
            <ng-container *ngFor="let generator of generators">
                <div *ngIf="shouldDisplayGenerator(generator.id)" class="passivePointsGenerator" (click)="BuyGenerator(generator.id)">
                    <p>{{generator.name}} | Generators: {{generator.amountGained | exponentialNumber}} (Bought: {{generator.amountBought}}) | Cost: {{generator.cost | exponentialNumber}}</p>
                </div>
            </ng-container>
            <button id="GeneratorButton" class="generatorButton" (click)="BuyGeneratorTier()">
                Buy the next Tier of Generators! | Cost {{ (nextTierGeneratorsCost$ | async) ?? 0 | exponentialNumber }}
            </button>
        </div>
    </div>
</section>
