<section id="passiveMenu">
    <div id="PassivePointsWrapper" class="passivePointsWrapper">
        <div id="PassivePointsLeft" class="passivePointsLeft">
            <p id="passivePointsWord" class="passivePointsWord"></p>
            <p id="passivePoints" class="passivePoints"></p>
        </div>

        <div id="PassivePointsRight" class="passivePointsRight">
            <p id="PassivePointsGenerator0" class="passivePointsGenerator">
                Generate Passive Points! | Generators:
            </p>
            <p id="PassivePointsGenerator1" class="passivePointsGenerator" style="display: none">
                Generate the First Generator | Generators:
            </p>
            <p id="PassivePointsGenerator2" class="passivePointsGenerator" style="display: none">
                Generate the Second Generator | Generators:
            </p>
            <p id="PassivePointsGenerator3" class="passivePointsGenerator" style="display: none">
                Generate the Third Generator | Generators:
            </p>
            <p id="PassivePointsGenerator4" class="passivePointsGenerator" style="display: none">
                Generate the Fourth Generator | Generators:
            </p>
            <p id="PassivePointsGenerator5" class="passivePointsGenerator" style="display: none">
                Generate the Fifth Generator | Generators:
            </p>
            <p id="PassivePointsGenerator6" class="passivePointsGenerator" style="display: none">
                Generate the Sixth Generator | Generators:
            </p>
            <button id="GeneratorButton" class="generatorButton">
                Buy the next Tier of Generators! | Cost
            </button>
        </div>
    </div>
</section>
