<section id="activeMenu" class="upgradesContainer menu">
  <div class="multiUpgradesButtons">
    <div
      *ngFor="let multiUpgrade of multiUpgrades"
      class="multiUpgrade"
      [class.disabled]="lengthUpgradeBlocked && multiUpgrade.name === 'Long Word Expertise'"
      (click)="AddMultiUpgrade(multiUpgrade.id)"
    >
      <p class="multiUpgradeName">{{ multiUpgrade.name }}</p>
      <p class="multiUpgradeDesc">{{ multiUpgrade.description }}</p>
      <p>{{ multiUpgrade.cost | exponentialNumber }}</p>
    </div>
  </div>
</section>
