<section id="activeMenu" class="upgradesContainer">
    <div class="multiUpgradesButtons">
        <div id="multiUpgrade1" class="multiUpgrade">
            <p id="multiUpgrade1Desc">+1 point per word!</p> 
            <p id="multiUpgrade1Text"></p>
        </div>
        <div id="multiUpgrade2" class="multiUpgrade">
            <p id="multiUpgrade2Desc">+1 letter per word!</p>
            <p id="multiUpgrade2Text"></p>
        </div>
        <div id="multiUpgrade3" class="multiUpgrade">
            <p id="multiUpgrade3Desc">+25% points!</p>
            <p id="multiUpgrade3Text"></p>
    </div>