@import '../../../shared/shared.scss';

.upgradesTable {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 1rem;
  }
  
  .intermediateTable{
    grid-template-columns: repeat(5, 1fr);
  }

  .upgradesTable > Button {
    font-size: var(--small-custom-text);
  }
  
  .upgradeText {
    margin-top: 3rem;
    text-align: center;
  }
  
  .upgradesTitle,
  .upgradeDesc {
    margin: 0;
  }
  
  .upgradesTitle {
    font-size: var(--small-custom-text);
  }
  
  .upgradesDesc {
    font-size: var(--xsmall-custom-text);
  }
  
  .upgradeWrapper {
    display: grid;
    gap: 4rem;
    justify-content: center;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
    margin: 5rem;
  }

  @media (min-width: 50em) {
    .upgradeWrapper {
      grid-template-areas: 
      'one two three'
      'six six four';
    }
  }
  
  .upgradeWrapper > :first-child {
    grid-area: one;
  }
  .upgradeWrapper > :nth-child(2) {
    grid-area: two;
  }
  .upgradeWrapper > :nth-child(3) {
    grid-area: three;
  }
  .upgradeWrapper > :nth-child(4) {
    grid-area: four;
  }
  .upgradeWrapper > :nth-child(5) {
    grid-area: five;
  }
  
  .upgradeTypeWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    min-height: 25vh;
  }
  
  .upgradeTypeWrapper > h2 {
    font-size: var(--small-custom-text);
  }
  
  .upgradeTypeWrapper > .upgradesDesc {
    font-size: var(--xsmall-custom-text);
    text-align: center;
  }

  .all-bought {
    background: linear-gradient(to right, var(--green), var(--black-900), var(--green));
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: background-pan 2s linear infinite;
  }

  .hidden-grid-upgrade {
    visibility: hidden;
  }