<section id="upgradesMenu">
    <div id="upgradeWrapper" class="upgradeWrapper">
        <div id="BasicUpgradesWrapper" class="upgradeTypeWrapper">
            <h2 id="basicUpgradeHeading">Basic Upgrades</h2>
            <div id="upgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of basicUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="GetUpgrade(upgrade.id)" (mouseenter)="ChangeBasicUpgradesText(upgrade.id)" [style.color]="isUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="basicUpgradesTitle" class="upgradesTitle">
                    {{currentBasicUpgradeName}}
                </p>
                <p id="basicUpgradesDesc" class="upgradesDesc">
                    {{currentBasicUpgradeDesc}}
                </p>
                <p id="basicUpgradesCost" class="upgradesDesc">
                    {{currentBasicUpgradeCost}}
                </p>
            </div>
        </div>
        <div id="PassiveUpgradesWrapper" class="upgradeTypeWrapper" style="display: none">
            <h2 id="passiveUpgradeHeading">Passive Upgrades</h2>
            <div id="passiveUpgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of passiveUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="GetPassiveUpgrade(upgrade.id)" (mouseenter)="ChangePassiveUpgradesText(upgrade.id)" [style.color]="isPassiveUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="passiveUpgradesTitle" class="upgradesTitle">
                    {{ currentPassiveUpgradeName }}
                </p>
                <p id="passiveUpgradesDesc" class="upgradesDesc">
                    {{ currentPassiveUpgradeDesc }}
                </p>
                <p id="passiveUpgradesCost" class="upgradesDesc">
                    {{ currentPassiveUpgradeCost }}
                </p>
            </div>
        </div>
        <div id="PrestigeUpgradesWrapper" class="upgradeTypeWrapper" style="display: none">
            <h2 id="prestigeUpgradeHeading">Prestige Upgrades</h2>
            <div id="prestigeUpgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of prestigeUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="GetPrestigeUpgrade(upgrade.id)" (mouseenter)="ChangePrestigeUpgradesText(upgrade.id)" [style.color]="isPrestigeUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="prestigeUpgradesTitle" class="upgradesTitle">
                    {{ currentPrestigeUpgradeName }}
                </p>
                <p id="prestigeUpgradesDesc" class="upgradesDesc">
                    {{ currentPrestigeUpgradeDesc }}
                </p>
                <p id="prestigeUpgradesCost" class="upgradesDesc">
                    {{ currentPrestigeUpgradeCost }}
                </p>
            </div>
        </div>
    </div>
</section>