<section id="upgradesMenu" class="menu">
    <div id="upgradeWrapper" class="upgradeWrapper">
        <div id="BasicUpgradesWrapper" class="upgradeTypeWrapper">
            <h2 id="basicUpgradeHeading" [ngClass]="{'all-bought': hasAllBasicUpgrades()}">Basic Upgrades</h2>
            <div id="upgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of basicUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="getUpgrade(upgrade.id)" (mouseenter)="ChangeBasicUpgradesText(upgrade.id)" [style.color]="isUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="basicUpgradesTitle" class="upgradesTitle">
                    {{currentBasicUpgradeName}}
                </p>
                <p id="basicUpgradesDesc" class="upgradesDesc">
                    {{currentBasicUpgradeDesc}}
                </p>
                <p id="basicUpgradesCost" class="upgradesDesc">
                    {{currentBasicUpgradeCost}}
                </p>
            </div>
        </div>
        <div id="IntermediateUpgradesWrapper" class="upgradeTypeWrapper">
            <h2 id="intermediateUpgradeHeading" [ngClass]="{'all-bought': hasAllIntermediateUpgrades()}">Intermediate Upgrades</h2>
            <div id="upgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of intermediateUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="getIntermediateUpgrade(upgrade.id)" (mouseenter)="ChangeIntermediateUpgradesText(upgrade.id)" [style.color]="isUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="intermediateUpgradesTitle" class="upgradesTitle">
                    {{currentIntermediateUpgradeName}}
                </p>
                <p id="intermediateUpgradesDesc" class="upgradesDesc">
                    {{currentIntermediateUpgradeDesc}}
                </p>
                <p id="intermediateUpgradesCost" class="upgradesDesc">
                    {{currentIntermediateUpgradeCost}}
                </p>
            </div>
        </div>
        <div id="PassiveUpgradesWrapper" class="upgradeTypeWrapper" *ngIf="isPassiveUpgradePurchased()">
            <h2 id="passiveUpgradeHeading">Passive Upgrades</h2>
            <div id="passiveUpgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of passiveUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="getPassiveUpgrade(upgrade.id)" (mouseenter)="ChangePassiveUpgradesText(upgrade.id)" [style.color]="isPassiveUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="passiveUpgradesTitle" class="upgradesTitle">
                    {{ currentPassiveUpgradeName }}
                </p>
                <p id="passiveUpgradesDesc" class="upgradesDesc">
                    {{ currentPassiveUpgradeDesc }}
                </p>
                <p id="passiveUpgradesCost" class="upgradesDesc">
                    {{ currentPassiveUpgradeCost }}
                </p>
            </div>
        </div>
        <div id="PrestigeUpgradesWrapper" class="upgradeTypeWrapper" *ngIf="hasPrestigePoints()">
            <h2 id="prestigeUpgradeHeading">Prestige Upgrades</h2>
            <div id="prestigeUpgradesTable" class="upgradesTable hoverEffectContainer">
                <button *ngFor="let upgrade of prestigeUpgrades; let i=index" class="upgradeSquare hoverEffectChild" (click)="getPrestigeUpgrade(upgrade.id)" (mouseenter)="ChangePrestigeUpgradesText(upgrade.id)" [style.color]="isPrestigeUpgradeActive(upgrade.id) ? '#47682C' : '#FFFFFF'">
                    <span>{{ getNumberToChar(i) }}</span>
                </button>
            </div>
            <div class="upgradeText">
                <p id="prestigeUpgradesTitle" class="upgradesTitle">
                    {{ currentPrestigeUpgradeName }}
                </p>
                <p id="prestigeUpgradesDesc" class="upgradesDesc">
                    {{ currentPrestigeUpgradeDesc }}
                </p>
                <p id="prestigeUpgradesCost" class="upgradesDesc">
                    {{ currentPrestigeUpgradeCost }}
                </p>
            </div>
        </div>
    </div>
</section>