.menu { 
  margin-top: 1rem;
}

.hoverEffectContainer:hover > .hoverEffectChild {
  opacity: 0.3;
  cursor: default;
}

.hoverEffectContainer:hover > .hoverEffectChild:hover {
  opacity: 1;
  transform: scale(1.1);
}

.hoverEffectChild {
  transition: opacity 400ms ease;
  transition: transform 50ms ease-in;
}

.commonCard {
  border: 5px solid whitesmoke;
  background: whitesmoke;
  color: var(--black-900);
}

.uncommonCard {
  border: 5px solid var(--green);
  background: var(--green);
  color: var(--black-900);
}

.brokenCard {
  border: 5px solid black;
  background: black;
  color: white;
}

.rareCard {
  border: 5px solid var(--primary-400);
  background: var(--primary-400);
  color: var(--black-900);
}

.epicCard {
  border: 5px solid var(--fucsia);
  background: linear-gradient(to bottom, var(--fucsia), var(--black-900), var(--fucsia));
  color: var(--fucsia);
}

.legendaryCard {
  animation: background-pan-y 2s linear infinite;
  border: 5px solid var(--golden);
  background: linear-gradient(to bottom, var(--golden), var(--black-900), var(--golden));
  background-size: 200%;
  color: rgb(240, 240, 240);
}

.ultimateCard {
  animation: background-pan-y 2s linear infinite;
  border: 5px solid var(--accent-600);
  background: linear-gradient(to bottom, var(--accent-600), var(--black-900), var(--accent-600));
  background-size: 200%;
  color: rgb(240, 240, 240);
}

@keyframes background-pan {
  from {
    background-position-x: 0%;
  }

  to {
    background-position-x: -200%;
  }
}


@keyframes background-pan-y {
  from {
    background-position-y: 0%;
  }

  to {
    background-position-y: -200%;
  }
}

@keyframes scale {
  from,
  to {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}
