<app-challenge-timer></app-challenge-timer>
<app-words-to-guess></app-words-to-guess>
<app-letters-per-second></app-letters-per-second>
<app-wordbox></app-wordbox>
<app-points-counter></app-points-counter>

  <app-navbar></app-navbar>
  <app-active-menu></app-active-menu>
  <app-passive-menu></app-passive-menu>
  <app-upgrades-menu></app-upgrades-menu>
  <app-prestige-menu></app-prestige-menu>
  <app-challenges-menu></app-challenges-menu>
  <app-cards-menu></app-cards-menu>
  <app-options-menu></app-options-menu>

<router-outlet></router-outlet>
