<section>
  <div class="module-wrapper">
    <div class="module">
      <button>
        Unlock!
        <p>Cost: 100</p>
      </button>
      <div class="scrabble-module-desc">
        <div class="text-wrapper">
          <p>Scrabble Module</p>
          <div class="vertical-line"></div>
          <p>Enhance every letter separately!</p>
        </div>
        <div class="buttonTierWrapper">
          <button>Tier 1</button>
          <button>Tier 2</button>
          <button>Tier 3</button>
          <button>Tier 4</button>
          <button>Tier 5</button>
          <button>Tier 6</button>
          <button>Tier 7</button>
          <button>Tier 8</button>
          <mat-icon>info</mat-icon>
        </div>
      </div>
      <button>
        Enhance Everything by 1.3!
        <p>Cost: 100</p>
      </button>
    </div>
    <div class="module">
      <button>
        Unlock!
        <p>Cost: 100</p>
      </button>
      <hr>
      <div class="scrabble-module-desc">
        <div>
          <p>Synergy Module</p>
          <p>Enhance the synergy between generators!</p>
        </div>
        <div class="buttonTierWrapper">
          <button>G1</button>
          <button>G2</button>
          <button>G3</button>
          <button>G4</button>
          <button>G5</button>
          <button>G6</button>
          <button>G7</button>
          <button>G8</button>
        </div>
      </div>
      <hr>
      <button>
        Enhance Everything by 1.3!
        <p>Cost: 100</p>
      </button>
    </div>
    <div class="module-two">
      <div class="scrabble-module-desc">
        <div class="text-wrapper">
          <p>Merge Module</p>
          <div class="vertical-line"></div>
          <p>Merge Cards!</p>
          <p>You need {{mergeAmount}} repeated cards to merge them to a better Tier!</p>
        </div>
      </div>
      <div class="merge-wrapper">
        <div *ngFor="let card of cards" class="card-wrapper">
            <div [ngClass]="getCardType(card)" class="card-merge">
                {{card.description}}
            </div>
            <p>Amount: {{getCardsAmount(card)}}</p>
            <button *ngIf="canMerge(card)" (click)="mergeCard(card)">Merge!</button>
        </div>
      </div>
    </div>
  </div>
</section>
