<section id="cardsMenu" class="menu">
    <div id="cardsHeaderContainer" class="cardsHeaderContainer">
        <button id="cardsButton" class="cardsButton" (click)="getPack()">Get a Pack! | Cost: {{(cardsCost$ | async) ?? 0 | exponentialNumber}}</button>
    </div>
    <p id="cardBonus" class="cardBonus"> {{ getBonus() }}</p>
    <div id="cardsContainer" class="cardsContainer">
        <div *ngFor="let card of (cardsDisplayed$ | async)" [ngClass]="getCardType(card)" class="normalCard">
            {{card.description}}
        </div>
    </div>
</section>
