<section id="cardsMenu" class="menu">
    <div id="cardsHeaderContainer">
        <div *ngFor="let pack of packs" class="cardsButton" (click)="getPack(pack.type)" >
            <div class="cardsHeaderContainer" *ngIf="isCardPackUnlocked(pack)">
                <button class="cardsButton">Get a Pack! | Cost: {{pack.cost | exponentialNumber}}</button>
            </div>
        </div>
    </div>
    <p id="cardBonus" class="cardBonus"> {{ getBonus() }}</p>
    <div id="cardsContainer" class="cardsContainer">
        <div *ngFor="let card of (cardsDisplayed$ | async)" [ngClass]="getCardType(card)" class="normalCard" [attr.data-tooltip]="card.description">
            {{card.name}}
        </div>
    </div>
</section>
