<div
  id="challengeProgress"
  class="challengeProgress"
  [style.width.%]="progress"
  [ngClass]="{
    red: challengeStatus == 'failure',
    green: challengeStatus == 'success',
    inactive: challengeStatus == 'inactive'
  }"
  (transitionend)="onOverlayAnimationEnd()"
></div>
<div id="overlay" class="overlay"></div>
<div id="light" class="light"></div>
<div
  id="viewerCardsContainer"
  class="viewerCardsContainer"
  (click)="removeOverlay()"
>
  <div
    *ngFor="let card of cards"
    [ngClass]="getCardType(card)"
    class="singleCard"
  >
    {{ card.description }}
  </div>
</div>
<p-toast></p-toast>
